@media (max-width: 1050px) {
  .header__menu {
    column-gap: 50px;
  }

  .header__icons {
    column-gap: 30px;

  }
}

@media (max-width: 920px) {
  .header__menu {
    column-gap: 25px;
  }

  .header__icons {
    column-gap: 15px;

  }


}

@media (min-width: 767px) {

  .hamburger-menu,
  .menu__background,
  .menu__btn,
  .header__mobile {
    display: none;
  }
}

@media screen and (max-width: 766px) {
  .header-desctop {
    display: none;
  }


  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 0 0 65px; */
  }

  /* .mobile__menu  */
  .mobile {
    display: block;
    position: fixed;
    visibility: hidden;
    left: -100%;
    top: 0;
    width: 320px;
    height: 100%;
    margin: 0;
    /* padding: 80px 0; */
    list-style: none;
    text-align: left;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 20;
  }

  .mobile__menu-item-setings {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .hamburger-menu {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
  }

  /* стилизуем кнопку */
  .menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 30;
  }

  /* добавляем "гамбургер" */
  .menu__btn>.menu__btn-inner,
  .menu__btn>.menu__btn-inner::before,
  .menu__btn>.menu__btn-inner::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: black;
  }

  .menu__btn>.menu__btn-inner::before {
    content: '';
    top: -8px;
  }

  .menu__btn>.menu__btn-inner::after {
    content: '';
    top: 8px;
  }

  #menu__toggle:checked~.menu__btn>.menu__btn-inner {
    transform: rotate(45deg);
  }

  #menu__toggle:checked~.menu__btn>.menu__btn-inner::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked~.menu__btn>.menu__btn-inner::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.mobile {
    visibility: visible;
    left: 0;
  }

  #menu__toggle:checked~.mobile__menu-background {
    visibility: visible;
  }

  .mobile__menu-background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    opacity: 0.3;
    visibility: hidden;
    position: fixed;
  }
}